
body{
overflow-x: hidden;
}

/* NavBar Properties */

.logo-img {
  width: auto;
  height: 22px;
}
.navbar {
  margin: 50px 5%;
}
.login-btn {
  color: white;
  width: 80px;
  background-color: rgb(14, 13, 13);
  text-align: center;
}
.login-btn:hover {
  background-color: white;
  color: black;
  border: solid 0.3px black;
}
.nav-item {
  padding: 0 15px;
  font-size: 0.9375rem;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
}
.logotext {
  color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}
.navbar-brand {
  font-family: "Nunito", sans-serif;
}

/* Information Container With Image */
.infoContainer {
  width: 93.5%;
  float: right;
  background-color: whitesmoke;
  height: 482px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.leftContainer {
  padding-left: 50px;
  padding-top: 50px;
  display: inline-block;
}
.infoContainer img {
  width: auto;
  height: 500px;
  display: inline-block;
  position: absolute;
  right: -63px;
  transform: translateX(20px);
  top: 0;
}

.btn-see {
  background-color: black;
  color: white;
  width: 120px;
  margin-top: 20px;
  height: 43px;
  text-align: center;
}

.tagline{
  padding-top: 0px;
  width: 60%;
}
.paraline{
  width: 50%;
  padding-top: 15px;
  font-size: 0.9rem;
  color: rgb(158, 158, 158);
}
.leftContainer h3{
  font-size: 0.9rem;
  padding-top: 3px;
}


/* Middle Container */

.middleContainer{
  margin-top: 600px;
  margin-left: 100px;
  text-align: center;
}
.Content h4{
  padding-top: 15px;
}
.ficonW{
  color: rgb(252, 99, 99);
}
.Content{
  margin: 10px 0;
  padding: 30px 5px;
  background-color:rgba(235, 235, 235, 0.801);
  border-radius: 20px;

}
.Contentmiddle{
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin:0;
  border-radius: 20px;
  height: auto;
  width: auto;
}
.Contentmiddle h4{
  padding-top: 15px;
}
.Contentmiddle:hover{
  background:linear-gradient(#ff4646,#ff6062);
  border-radius: 20px;
  margin: 10px 0;
  padding: 30px 5px;
  color: white;
}
.content p{
  font-size: 13px;

}
.content{
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin:0;
  border-radius: 20px;
  height: auto;
  width: auto;
}

/* Bottom Container */
.bottomContainer{
  width: 60%;
  margin: 140px auto;
  height: 225px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.774);
}
.bottomContainer img{
  width: 180px;
  padding-right: 30px;
  height: auto;
  float: left;
}
.bottomContainer input{
  padding-left: 20px;
  width: 250px;
  position: relative;
  right: 50px;
  border: 0;
  height: 45px;
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 0.966);
}
::placeholder{
color: rgb(170, 170, 170);
font-size: 0.95rem;
opacity: 1;
}
.bottomContainer h5{
  position: relative;
  right: 40px;
}
.bottomContainer p{
  width: 75%;
  position: relative;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  color: rgb(148, 148, 148);
  left: 60px;
}
.subtext{
  padding: 30px 0;
}
.subscribe-btn{
  cursor: pointer;
  height: 45px;
  color: white;
  border: 0;
  width: 120px;
  position: relative;
  right: 45px;
  border-radius: 8px;
  background-color: rgb(90, 199, 95);
  font-size: 0.9rem;
}
/* Media Queries */
@media only screen and (max-width: 1038px) {
  .nav-item {
    padding: 3px 10px;
  }
  .infoContainer {
    width: 93%;
    float: right;
    height: 480px;

  }
  .infoContainer img{
    width: 645px;
    height: 500px;
  }
}
@media only screen and (max-width:985px){
  .infoContainer img{
    width: 600px;
    height: 500px;
  }
  .infoContainer{
    height: auto;
  }
  .btn-see{
    margin-bottom: 30px;
    height: 38px;
  }

  .bottomContainer{
    width: 60%;
    margin: 140px auto;
    height: 228px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.774);
  }
  .bottomContainer img{
    width: 180px;
    padding-right: 30px;
    height: auto;
    float: left;
  }
  .bottomContainer input{
    padding-left: 10px;
    width: 150px;
    position: relative;
    right: 10px;
    border: 0;
    height: 45px;
    border-radius: 8px;
    background-color: rgba(231, 231, 231, 0.966);
  }
  .subtext{
    padding: 30px 0;
  }
  .subscribe-btn{
    cursor: pointer;
    height: 46px;
    color: white;
    border: 0;
    width: 100px;
    position: relative;
    right: 10px;
    border-radius: 8px;
    background-color: rgb(90, 199, 95);
    font-size: 0.75rem;
  }
  ::placeholder{
  color: rgb(170, 170, 170);
  font-size: 0.75rem;
  opacity: 1;
  }

  
}
@media only screen and (max-width:900px){
  .infoContainer img{
    max-width: 70%;
    height: 500px;
  }
  .btn-see{
    margin-bottom: 25px;
    height: 40px;
    width: 100px;
  }

  .bottomContainer input{
    padding-left: 20px;
    width: 150px;
    position: relative;
    right: 10px;
    border: 0;
    height: 45px;
    border-radius: 8px;
    background-color: rgba(231, 231, 231, 0.966);
  }

  .subscribe-btn{
    cursor: pointer;
    height: 45px;
    color: white;
    border: 0;
    width: 100px;
    position: relative;
    right: 10px;
    border-radius: 8px;
    background-color: rgb(90, 199, 95);
    font-size: 0.7rem;
  }

  ::placeholder{
    color: rgb(170, 170, 170);
    font-size: 0.75rem;
    opacity: 1;
    }
  .bottomContainer h5{
    position: relative;
    right: 13px;
  }
  .bottomContainer p{
    width: 90%;
    position: relative;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    color: rgb(148, 148, 148);
    left: 10px;
  }

}
@media only screen and (max-width:848px){
  .infoContainer img{
    max-width: 70%;
    max-height: 500px;
  }
  ::placeholder{
    color: rgb(170, 170, 170);
    font-size: 0.75rem;
    opacity: 1;
    }
  .bottomContainer h5{
    position: relative;
    right: 13px;
  }
  .bottomContainer p{
    width: 90%;
    position: relative;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    color: rgb(148, 148, 148);
    left: 10px;
  }

}
@media only screen and (max-width:806px){
  .infoContainer {
    width: 100%;
    height: auto;
    border-radius: 90px 0 0 0;
  }
  .leftContainer{
    padding-left: 30px;
  }
  .infoContainer img {
    max-width: auto;
    max-height: 550px;
  }

}
@media only screen and (max-width:755px){


  .infoContainer {
    height: 600px;
    background-color: whitesmoke;
    height: auto;
    position: absolute;
    display: block;
    width: 100%;
    float: none;
    border-radius: 90px 0 0 0;
  }


  .leftContainer {
    padding-left: 50px;
    padding-top: 50px;
    display: block;
  }
  .infoContainer img {
    width: auto;
    height: 500px;
    display: block;
    right: -63px;
    transform: translateX(20px);
    top: 300px;
  }


  .bottomContainer h5{
    position: relative;
    right: 10px;
    margin-bottom: 10px;
  }
  .bottomContainer p{
    width: 90%;
    position: relative;
    margin-right: 10px;
    padding-top: 1px;
    font-family: 'Lato', sans-serif;
    color: rgb(148, 148, 148);
  }
  .subtext{
    padding: 30px 0;
    position: relative;
    font-size: 0.8rem;
  }

  .bottomContainer{
    width: 60%;
    margin: 140px auto;
    height: 225px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.774);
  }
  .bottomContainer img{
    width: 180px;
    padding-right: 30px;
    height: auto;
    float: left;
  }
  .bottomContainer input{
    padding-left: 20px;
    width: 140px;
    position: relative;
    margin-top: 20px;
    right: 15px;
    bottom: 10px;
    border: 0;
    height: 45px;
    border-radius: 8px;
    background-color: rgba(231, 231, 231, 0.966);
  }
  ::placeholder{
  color: rgb(170, 170, 170);
  font-size: 0.7rem;
  opacity: 1;
  }
  .subscribe-btn{
    cursor: pointer;
    height: 45px;
    color: white;
    border: 0;
    width: 90px;
    position: relative;
    right: 10px;
    bottom: 10px;
    border-radius: 8px;
    background-color: rgb(90, 199, 95);
    font-size: 0.6rem;
  }


}